# Thư mục build và công cụ của Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Các file rác khi chạy trên Android
.gradle/
ASL/
captures/
gen/
local.properties
**/android/**/generated/
**/android/app/src/main/res/drawable-*/
**/android/app/src/main/res/mipmap-*/

# Các file rác khi chạy trên iOS/macOS
.lsconnected
*.app
*.ipa
*.ext
ios/.generated/
ios/Flutter/Ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
macos/Flutter/Ephemeral/
macos/Flutter/generated_xcconfig
macos/Flutter/flutter_export_environment.sh

# Web rác
build/web/

# IDEs (VS Code, IntelliJ, v.v.)
.idea/
*.iml
*.iws
.vscode/
.history
*.sublime-project
*.sublime-workspace
.vs/

# File log và rác hệ thống
*.log
.DS_Store
Thumbs.db

# File quan trọng CẦN ẩn (nếu ông có file chứa API Key riêng)
# .env
# .api_keys
lib/constants/var.dart